<h1>Listing instances</h1>

<table>
  <thead>
    <tr>
      <th>Activity</th>
      <th>When</th>
      <th>Until</th>
      <th>Private</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.activity_id %></td>
        <td><%= instance.when %></td>
        <td><%= instance.until %></td>
        <td><%= instance.private %></td>
        <td><%= link_to 'Show', instance %></td>
        <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
        <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instance', new_instance_path %>
