- content_for :title, "#{@user.username}: Profile"

%section.feed
  %header
    %h1="#{@user.username}’s recent activity"
  %ul.instances
    - if @user.instances.recent.empty?
      %li="No recent activity."
    - else
      - @user.instances.recent.each do |instance|
        %li{ title: instance.time_when.strftime('%m.%d.%y %l:%M%P') }
          %span.when="#{distance_of_time_in_words_to_now(instance.time_when)} ago:"
          %strong.name= instance.activity.name
          - if instance.time_until
            %span.length= "for #{humanize(instance.time_spent)}"