<% content_for :title, "Forgot your password?" %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email do %>
    <strong>Email:</strong>
    <%= f.email_field :email, :autofocus => true, placeholder: 'Email' %>
  <% end %>

  <div><%= f.submit "Send me reset password instructions", class: 'btn default full' %></div>
<% end %>