<h1>Listing activities</h1>
  <ul>
    <% @activities.each do |activity| %>
      <li>
        <strong><%= activity.name %></strong>
        <%= content_tag(:span, "(Private)", class: 'private') if activity.private %>
        –
        <%= activity.tracking_type %>
        <div class="btns">
          <%= link_to 'Show', user_activity_path(activity.user,activity) %>
          <%= link_to 'Edit', edit_user_activity_path(activity.user,activity) %>
          <%= link_to 'Destroy', user_activity_path(activity.user,activity), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
  </ul>

<%= link_to 'New Activity', new_user_activity_path(@user) %>
