<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to @activity.user.username, user_path(@activity.user) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @activity.private %>
</p>

<p>
  <strong>Tracking type:</strong>
  <%= @activity.tracking_type %>
</p>

<%= link_to 'Edit', edit_user_activity_path(@user,@activity) %> |
<%= link_to 'Back', user_activities_path(@user) %>
