<% content_for :title, "#{@activity.tracking_type.titleize} Activity: #{@activity.name}" %>
<% content_for :subhead, @activity.private ? "(Private)" : "(Public)" %> 

<%= link_to 'Edit', edit_user_activity_path(@user,@activity) %> |
<%= link_to 'Back', user_activities_path(@user) %>

<%- if @activity.tracking_type == 'Timed' %>
  <%- if !@activity.instances.running? %>
    <%= render partial: '/instances/start_timed_instance_form', locals: { user: @user, activity: @activity, instance: @activity.instances.new } %>
  <%- else %>
    <%= render partial: '/instances/stop_timed_instance_form', locals: { user: @user, activity: @activity, instance: @activity.instances.running } %>
  <%- end %>
<%- else %>
  <%= render partial: '/instances/count_instance_form', user: @user, activity: @activity, instance: @activity.instances.new %>
<%- end %>

<% if @activity.tracking_type == 'Timed' %>
  <p>Total time spent:</p>
  <p class="timespent"><%= humanize(@activity.instances.time_spent) %></p>
<% end %>

<ul>
  <%- @activity.instances.order('`when` DESC').each do |instance| %>
    <li><%= instance.when.strftime('%A, %B %e at %l:%M%P') -%>
      <%- if @activity.tracking_type=='Timed' -%>|
        <%- if instance.till.nil? -%>
          ongoing
          <%= render partial: '/instances/stop_timed_instance_form', locals: { user: @user, activity: @activity, instance: instance } -%>
        <%- else -%><%=humanize_short((instance.till || Time.now) - instance.when) -%>
        <%- end -%>
      <%- end -%></li>
  <%- end -%>
</ul>