<!DOCTYPE html>
<html>
<head>
  <title>Mastery<%=(' | ' + yield(:title)) if content_for? :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="user_nav">
    <% if user_signed_in? %>
      Signed in as <strong><%= current_user.username %></strong>
      <%= link_to "Edit profile", edit_user_registration_path %> |
      <%= link_to "Sign Out", destroy_user_session_path, id: "signout", method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, id: "signup" %>
      <%= link_to "Sign In", new_user_session_path, id: "signin" %>
    <% end %>
  </nav>
  <header>
    <h1><%= link_to "Mastery", "/" %></h1>
    <%= content_tag(:h2, yield(:title)) if content_for? :title %>
    <%= yield(:subhead) if content_for? :subhead %>
  </header>
  <main>
    <%= content_tag(:p, notice, class: 'notice') if notice %>
    <%= content_tag(:p, alert, class: 'alert') if alert %>
    <%= yield %>
  </main>
  <footer>
    Copyright &copy;<%=Time.now.year%>
  </footer>
</body>
</html>
